.main-nav {
    height: 60px;
    background: #000;
    color: #fff;
    width: 100%;    
    font-size: 18px;
    font-weight: bold;
    /* display: flex;     */
    align-items: center;
}

.left-nav {
    /* margin-left: 30px; */    
    justify-content: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
}

.center-nav {
    display: flex; 
    flex: 2;   
    justify-content: center;
    align-items: center;
}

.right-nav {    
    display: flex; 
    flex: 1;   
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 10px;
}

.nav-container {
    margin: 0 300px;
    display: flex;
    height: 100%;
}

form > input {
    height: 25px;    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 5px;
}

form > button {
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 5px;
    background: #fff;
    color: black;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}